In [1]:
# importando biblioteca
import pandas as pd

In [2]:
# Criando uma Series
data =  [0.5, None, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)

In [3]:
s

0     0.50
1      NaN
2      NaN
3      NaN
4     0.52
5     0.54
6      NaN
7      NaN
8     0.59
9     0.60
10     NaN
11    0.70
dtype: float64

In [4]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.00
4     0.52
5     0.54
6     0.00
7     0.00
8     0.59
9     0.60
10    0.00
11    0.70
dtype: float64

In [5]:
# Metodo ffill pega o valor anterior e se o proximo for nulo ele preenche com esse valores anterior
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.50
4     0.52
5     0.54
6     0.54
7     0.54
8     0.59
9     0.60
10    0.60
11    0.70
dtype: float64

In [6]:
s

0     0.50
1      NaN
2      NaN
3      NaN
4     0.52
5     0.54
6      NaN
7      NaN
8     0.59
9     0.60
10     NaN
11    0.70
dtype: float64

In [7]:
# bfill faz o mesmo processo que o ffill, ppor√©m de baixo p cima
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.52
5     0.54
6     0.59
7     0.59
8     0.59
9     0.60
10    0.70
11    0.70
dtype: float64

In [8]:
# preenchendo os valores nulos com a media 
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.575
4     0.520
5     0.540
6     0.575
7     0.575
8     0.590
9     0.600
10    0.575
11    0.700
dtype: float64

In [18]:
s

0     0.50
1      NaN
2      NaN
3      NaN
4     0.52
5     0.54
6      NaN
7      NaN
8     0.59
9     0.60
10     NaN
11    0.70
dtype: float64

In [19]:
# Fazendo metodo ffill porem uma unica vez
s1 = s.fillna(method = 'ffill', limit = 1)

In [20]:
s1

0     0.50
1     0.50
2      NaN
3      NaN
4     0.52
5     0.54
6     0.54
7      NaN
8     0.59
9     0.60
10    0.60
11    0.70
dtype: float64

In [22]:
s1.fillna(method = 'bfill', limit = 1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.52
5     0.54
6     0.54
7     0.59
8     0.59
9     0.60
10    0.60
11    0.70
dtype: float64